<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<!-- Log appender for Lilith -->
	<!-- 
	<appender name="LILITH-MULTIPLEX"
		class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
		<Compressing>true</Compressing>
		\<\!\-\- will automatically use correct default port \-\-\>
		<ReconnectionDelay>10000</ReconnectionDelay>
		<IncludeCallerData>true</IncludeCallerData>
		<RemoteHosts>localhost</RemoteHosts>
		<ApplicationIdentifier>liveSense-ALL</ApplicationIdentifier>
		<encoding>UTF-8</encoding>
	</appender>
	-->

	<appender name="FILE-ROOT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>%{data.dir}/log/root.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>%{data.dir}/log/root.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="FILE-LIVESENSE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>%{data.dir}/log/liveSense.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>%{data.dir}/log/liveSense.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="FILE-REQUEST"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>%{data.dir}/log/request.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>%{data.dir}/log/logback.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>


	<appender name="FILE-ACCESS"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>%{data.dir}/log/access.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>%{data.dir}/log/access.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	 
	<!-- Global log -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ROOT"/>
	</root>

	<!-- liveSense specific log events -->
	<logger name="org.liveSense" level="INFO">
		<appender-ref ref="FILE-LIVESENSE" />
	</logger>

	<!-- Request logs -->
	<logger name="logs/request.log">
		<appender-ref ref="FILE-REQUEST" />
	</logger>
	<logger name="logs/access.log">
		<appender-ref ref="FILE-ACCESS" />
	</logger>
	<logger name="de.huxhorn.lilith" level="ERROR">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ROOT" />
	</logger>
	<logger name="org.apache.solr" level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ROOT" />
	</logger>

</configuration>